<ul class="list-inline text-center footer-links">

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.facebook -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.reddit -%}
  <li class="list-inline-item">
    <a href="https://reddit.com/u/{{ site.social-network-links.reddit }}" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.xing -%}
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/{{ site.social-network-links.xing }}" title="Xing">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Xing</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.stackoverflow -%}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ site.social-network-links.stackoverflow }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.instagram -%}
  <li class="list-inline-item">
    <a href="https://www.instagram.com/{{ site.social-network-links.instagram }}" title="Instagram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Instagram</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.youtube -%}
  <li class="list-inline-item">
    <a href="https://www.youtube.com/{{ site.social-network-links.youtube }}" title="YouTube">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">YouTube</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitch -%}
  <li class="list-inline-item">
    <a href="https://www.twitch.tv/{{ site.social-network-links.twitch }}" title="Twitch">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitch</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.udemy -%}
  <li class="list-inline-item">
    <a href="https://www.udemy.com/{{ site.social-network-links.udemy }}" title="Udemy">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <!-- <i class="fab fa-udemy fa-stack-1x fa-inverse"></i> -->
        <img src="assets/imng/udemy_logo.png" width="32" height="32">
      </span>
      <span class="sr-only">Udemy</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.patreon -%}
  <li class="list-inline-item">
    <a href="https://patreon.com/{{ site.social-network-links.patreon }}" title="Patreon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-patreon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Patreon</span>
    </a>
  </li>
{%- endif -%}

</ul>
